language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: 7.0

sudo: false

before_script:
  - git clone https://github.com/octobercms/october.git
  - mkdir -p ./october/plugins/krisawzm/embed
  - mv !(october) october/plugins/krisawzm/embed
  - cd october
  - travis_retry composer install --no-interaction --prefer-source

script: vendor/bin/phpunit plugins/krisawzm/embed
